:root {
    --primary: rgba(251, 251, 196, 0.951);
    --secondary: rgba(58, 11, 101, 0.573);;
    --terciary:  rgba(102, 48, 153, 0.555);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary);
    font-family: pointfree, sans-serif;
}

@font-face {
    font-family: pointfree;
    src: url("./../src/fonts/pointfree.ttf");
    font-display: block;
}
.App {
    background-image: url("https://images6.alphacoders.com/909/thumb-1920-909641.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary);
}

p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
}
nav {
    height: 10vh;
    background-color:var(--secondary);
}

h1 {
    text-align: center;
    color: var(--primary);
    padding-top: 3rem;
}

h2 {
    padding-top: 1rem;
    text-align: center;
}

h3 {
    text-align: center;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

nav > ul > li > a {
    font-size: 1.5rem;
    color: var(--primary);
}

.home, .form, .finder, .details, .comments {
    background-color: var(--terciary);
    height: 90vh;

}

.home > div {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 90%;
    margin: 2rem auto;
    gap: 2rem;
    border-radius: 18px;
    background-color: rgba(67, 17, 114, 0.544);
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #9c54cc, 0 0 30px #c70bcafe,
    0 0 40px #840bca, 0 0 50px #8a0bca;
}

.home > div > img {
    width: 40rem;
}

.finder {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    place-items: center;
}

.finder > input {
    width: 35%;
    height: 1.5rem;
    border-radius: 8px;
    background-color: var(--secondary);
    text-align: center;
    font-size: 1.2rem;
}

.finder > div {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    border-radius: 18px;
    background-color: rgba(67, 17, 114, 0.544);
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #9c54cc, 0 0 30px #c70bcafe,
    0 0 40px #840bca, 0 0 50px #8a0bca;
}

.finder > div > figure > a > img {
    width: 12rem;
}

.finder > div > figure > a {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    place-items: center;
    width: 15rem;
    margin: auto;
    padding: 1rem;
}

.comments > div {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 2rem;
    place-items: center
}

.comments > div > figure {
    padding: 1rem;
    width: 23rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 18px;
    background-color: rgba(67, 17, 114, 0.544);
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #9c54cc, 0 0 30px #c70bcafe,
    0 0 40px #840bca, 0 0 50px #8a0bca;
    align-self: center;
}
.comments > div > figure > p {
    font-size: 1.3rem;
}
form {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 18px;
    
}

form > fieldset {
    border-radius: 18px;
    background-color: var(--secondary);
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #9c54cc, 0 0 30px #c70bcafe,
    0 0 40px #840bca, 0 0 50px #8a0bca;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;

}

fieldset > legend {
    text-align: center;
    font-size: 1.5rem;
}

fieldset > div {
    display: flex;
    flex-direction: column;
    width: 70%;
    place-items: center;
    margin: auto;

}
fieldset > div > label {
    width: 7rem;
    text-align: center;
} 

fieldset > div > input {
    height: 1.5rem;
    background-color: var(--terciary);
    text-align: center;
    font-size: 1.2rem;
}

fieldset > div > textarea {
    background-color: var(--terciary);
    text-align: center;
    font-size: 1.2rem;
    width: 88%;
    height: 12rem;
}

form > input {
    width: 35%;
    height: 2rem;
    border-radius: 8px;
    background-color: var(--secondary);
    text-align: center;
    font-size: 1.2rem;
    margin: auto;
}

.details > div > figure {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2rem;
    border-radius: 18px;
    background-color: var(--secondary);
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #9c54cc, 0 0 30px #c70bcafe,
    0 0 40px #840bca, 0 0 50px #8a0bca;
}

.details > div > figure > img {
    width: 65%;
}

@media screen and (max-width: 500px) {
    nav > ul > li > a {
        font-size: 1rem;
    }
    .home > div > img {
        width: 85%;
    }
    .finder > div > figure > a > img {
        width: 7rem;
    }
    .finder > div > figure > a {
        width: 10rem;
    }
    .finder > div > figure {
        width: 10rem;
    }
    .finder > div {
        grid-template-columns: repeat(2, 1fr);
    }
}